
<form>
    <p>
        username:
        <input name="username" value="<%=username%>">
    </p>
    <p>
        password:
        <input name="password" type="password" value="<%=password%>">
    </p>
    <button>login</button>
</form>



